/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


.banner {
  color: black;
  text-align: center;
  height: 100%;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 4px 5px #888888;
  padding: 200px;
  background-color: #FFAA00;
  z-index: 1;
}


// .banner img{
//   background-size: cover;
// }

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  color: white;
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: white;
  margin-bottom: 20px;
}

.container{
  padding: 60px;
  padding-bottom: 50px;
}

.navigation{
  text-align: center;
  position: center;
}

.navbar-wagon-search-input {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #66666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 0 10px;
  position: center;
  background-color: white;
  font-size: 14px;
  outline: none;
}

.info-wrapper{
background-color: white;
color: orange;
margin-bottom: 100px;

}

.info{
  padding: 100px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li{
  padding:25px;
}

#group{
  width: 500px;
  height:400px;
  border-radius: 15px;
}




.card-white {
  background: white;
  padding: 15px;
  box-shadow: 2px 4px 5px #888888;
  border-radius: 4px;
  margin: 10px 30px;
  color: black;
}

.info-teacher{
  padding: 50px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img{
  border-radius: 5px;
}

.division{
  border-bottom: 0.5px outset lightgray;
  padding: 30px;
}

