/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.title {
  color: gray;
font-size: 30px;
}

 .container{
  padding: 60px;
  padding-bottom: 50px;
}

.navigation{
  text-align: center;
  position: center;
}

.info-wrapper{
  background-color: white;
  color: black;
  margin-bottom: 100px;

}

.info{
  margin: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info h1{
  color: orange;
}

#group{
  width: 400px;
  height:300px;
  border-radius: 5px;
}

.info-teacher{
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f7f7fa;

}


.division{
  border-bottom: 0.5px outset lightgray;
  padding: 30px;
}

.stats-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: orange;
  color: white;
  padding: 50px;
}

.categories-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F1F1F0;
  color: black;
  padding: 15px;
}


.app-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F1F1F0;
  color: orange;
  padding: 60px;
}

.app-wrapper img{
  height: 90px;
  width: 240px;
}

.orb {
  background-color: red;
display: inline-block;
width: 30px;
height: 30px;
border-radius: 50%;
color: white
}

#first{
  height: 270px;
  width: 270px;
}

.profile-sidebar a{
  color: white;
}

.profile-sidebar li{
  background-color: orange;
  border-radius: 10px;
  margin: 40px;
}

.profile-sidebar a:hover{
  text-decoration: none;
}

.line-height {
  line-height: 130%;
}



.btn-envelope{
background-color: #F1F1F0;
color: #3266CC;
border: 0.5px solid #F1F1F0;
border-radius: 5px;
width: 100%;

}


.btn-envelope p{
text-align: center-top;
margin-top: 5px;
margin-bottom:5px;
}




