<div class="card col-xs-12 col-md-4 col-lg-3 ">
<img class="image" src="https://unsplash.it/50x50" alt="">
  <div class="info-card">
<div class="info-top">
<h2 class="title"><%= course.title  %></h2>
<h4 class="establishment"><%= course.category %></h4>
  </div>
</div>
<div class="review list-inline">
<p class="dist">dist: 1.2km</p>
<p class="price">$<%= course.price %> day</p>
  </div>
</div>

