<% if notice %>
  <div class="alert alert-info alert-dismissible" role="alert" id="flashes">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-warning alert-dismissible" role="alert" id = "flashes">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= alert %>
  </div>
<% end %>

<% content_for(:after_js) do%>
  <%javascript_tag do%>
    $(document).ready(function(){
    setTimeout(function(){
      $("#flashes").slideUp();
    }, 3000 );

  });
<%end%>
<%end%>
