<div id="footer">
  <div class="container" style="padding: 0">
    <div style="display: flex; justify-content: space-around; flex-direction: row; flex-wrap: nowrap; align-items: center;">

      <div >
        <%= link_to root_path, class: "logo" do %>
        <%= image_tag "new_white_logo.png" %>
        <% end %>
      </div>

      <div >
        <p>  About Us  </p>
        <p> Contact Us</p>
      </div>

      <div>
        <p> Careers</p>
        <p> FAQ's</p>
      </div>


      <div >
        <p> Privacy </p>
        <p> Help</p>
      </div>
      <div class="list-inline" >
        <a href=""><i class="fa fa-instagram"></i></a>
        <a href=""><i class="fa fa-facebook"></i></a>
        <a href=""><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>

</div>
