<div id="footer">
  <div class="container" style="padding: 0">
    <div class="row align-items-start">
      <div class="col-xs-12 col-md-3">
        <ul class="list-inline">
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-md-6">
       <div class="row">
        <div class="col-md-4">
          <ul class = "list-inline">
            <h6 > <strong> About Us </strong> </h6>
            <h6 > Contact Us</h6>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
            <h6 class = "list-inline"> <strong>Privacy </strong></h6>
            <h6 class = "list-inline"> FAQ's</h6>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
            <h6 class = "list-inline"> <strong>Help</strong></h6>
            <h6 class = "list-inline"> FAQ's</h6>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-3 text-bottom">
      <%=   favicon_link_tag "white_logo_transparent_background.png" , type: "images/png" %>
      <p> © Learnability, Inc.</p>
    </div>
  </div>

</div>
</div>
