<div class = "app-wrapper">

    <img id= "first" src="https://canada.fugenx.com/wp-content/uploads/2014/05/iPHONE-APPS-DEVELOPMENT.png">
  <div>
    <h2>Download the app</h2>
    <img src="http://www3.gobiernodecanarias.org/medusa/ecoescuela/educatablet/files/2014/10/Disponible-en-el-app-store.png">
    <img src="http://www.fair-saturday.org/plugins/ckeditor/plugins/imageuploader/uploads/3833307e.png">
  </div>
</div>
