<div class = "info-wrapper">
  <div class = "info">
    <div>
      <h1>Why learnability?</h1>
      <br>
      <br>
      <ul class ="list-unstyled ">
        <h4><li>Find courses close to you</li></h4>
        <h4><li> Learn in academies and from independent experts</li></h4>
        <h4><li>Find clients to tech your skills</li></h4>
      </ul>
    </div>

    <img src="https://ak3.picdn.net/shutterstock/videos/9833465/thumb/1.jpg" id = "group">

  </div>
</div>
