// Your footer style
#footer {
  background: #3266CC;
  padding: 15px 0px;
  color: white;
  margin: 0;
}
#footer p {
  padding-top: 5px;
  margin-left: 5px;
}
#footer ul {
  margin-top: 10px;
  list-style-type: none;
}

#footer li {
  letter-spacing: 0px;

}
#footer a {
  padding-top: 40px;
  color: #CCCCCC;
  font-size: 20px;
  letter-spacing: 10px;
  transition: color 0.5s ease;
}
#footer a:hover{
  color: #FFA500;
}


.logo-size img {
    padding-left: 50px;
    width: 100%;
}

.logo img {
    padding-left: 20px;
    width: 250px;
}




