.card-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: flex-start;
}

.card {
  position: relative;
  margin: 10px;
  width: 240px;
  height: 240px;
  text-shadow: 0 3px 1px rgba(0,0,0,0.2);
  color: dark gray;
  position: relative;
  margin: 10px;
  font-size: 2%;
  overflow: scroll;
  border-radius: 5px;
}
.card h2 {font-size: 15px;
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0px; }

  .card h4 {font-size: 10px;
    position: absolute;
    top: 30px;
    left: 20px;
    margin: 0px; }

    .card img{
     width: 100%;
     height: 62%;
   }

   .price {
    font-size: 15px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0px;
  }


  .info-card {
    position: absolute;
    padding: 4px;
    width: 100%;
  }
  .reviews {  display: inline;
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-size: 10px;
  }
.description {
  font-size: 10px;
}

.container-login {
  padding: 50px 30px;
  margin-bottom: 110px;

}

.form-login {
    padding: 30px 20px;
    background: #f9f9f9;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #ECECEC;
    margin: auto;
    width: 500px;
}

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.stars {
  border: none;
  float: left;
}

.star > input { display: none; }
.star > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.star > .half:before {
  content: "\f089";
  position: absolute;
}

.star > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.star > input:checked ~ label, /* show gold star when clicked */
.star:not(:checked) > label:hover, /* hover current star */
.star:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.star > input:checked + label:hover, /* hover current star when changing rating */
.star > input:checked ~ label:hover,
.star > label:hover ~ input:checked ~ label, /* lighten current selection */
.star > input:checked ~ label:hover ~ label { color: #FFED85;  }

