
.card {
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  color: black;
  position: relative;
  margin-bottom: 20px;
  height: 400px;
  &:hover .card-description {
    opacity: 0.90;
  }
  h4.card-title {
    margin-bottom: 0;
    margin-top: 14px;
  }
  p {
    margin-left: 0;
  }
  .cost {
    color: #42a1f4;
  }
  .distance {
    font-size: 12px;
    text-align: right;
  }
}

.card-text {
  font-size: 19px;
  font-style: italic;
}

.course-description {
  text-align: left;
  font-size: 17px;
}

.card-line {
  margin-bottom: 2px;
  margin-top: 2px;
}

.tag-label {
  font-size: 12px;
  background-color: #42a1f4;
  display: block;
  color: white;
  padding: 2px;
  margin-left: 0;
  opacity: 0.5;
  padding: 3px 10px;
  display: flex;
  align-items: center;
  .fa {
    display: inherit;
    width: inherit;
    height: inherit;
    margin-right: 10px;
  }
}

.container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: column;
  padding: 1px 16px;
  height: 50%;
  justify-content: space-between;
  p {
    font-size: 12px;
    margin: 5px;
  }
  h4{
   font-size: 18px;
   height: 35px;
 }
}

.card-description {
  background-color: white;
  position: absolute;
  font-size: 15px;
  overflow: scroll;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: opacity 400ms ease;
  padding:20px;
  hr {
    border: 3px solid #80c080;
    margin: 0;
  }
}

.card-white {
  background: white;
  padding: 15px;
  box-shadow: 2px 4px 5px #888888;
  border-radius: 2px;
  margin: 10px 10px;
  color: black;
}

.card-white li{
 padding: 20px;
}


.jumbotron {
  height: 60vh;
}


.card-block h4 {
  position: absolute;
  padding-bottom: 10px;

}

.card-block p {

  padding-bottom: 5px;
}

.card-line {
  margin-bottom: 5px;
  margin-top: 5px;
}

.review-card {
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
  display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
p {
  padding: 2px !important;
  font-size: 15px !important;
}
.left {
  flex: 0 0 25%;
  height:100%;
  padding: 5px;
}
.right {
  flex: 0 0 75%;
  padding: 10px;

}
}

.logo-size img {
  width: 10%;
}


.reviews {  display: inline;
  position: absolute;
  bottom: 10px;
  width: 100%;
  font-size: 10px;
}
.description {
  font-size: 10px;
}

.titulo h2 {
    margin-top: 0;
    margin-bottom: 40px;
}

.course-show {

   text-align: justify;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 0.8;
    font: karla;
      line-height: 100px;
}
.centered
{
    margin: 1 auto;
    text-align: left;
    padding: 10px;
}

.container-login {
  padding: 50px 30px;
  margin-bottom: 110px;

}

.form-login {
  padding: 30px 20px;
  background: #f9f9f9;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #ECECEC;
  margin: auto;
  width: 500px;
}

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }




.row-box {
  margin-right: 100px;
  padding: 30px 20px;
  background: #f9f9f9;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #ECECEC;
  margin: auto;
  width: 850px;
  height: 400px;
  padding-bottom: 80px;
  margin-bottom: 50px;
}
.form-box {
  margin-top: 30px;
  margin-right: 300px;
  padding: 30px 20px;
  background: #f9f9f9;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #ECECEC;
  margin: auto;
  width: 850px;
  height: 700px;
}


