.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: column;
}

.card-white {
  background: white;
  padding: 15px;
  box-shadow: 2px 4px 5px #888888;
  border-radius: 4px;
  margin: 10px 30px;
  color: black;
}

.card-white li{
 padding: 20px;
}


.jumbotron {
  height: 70vh;
}

.card {
  position: relative;
  width: 100%;
  height: 240px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  color: dark gray;
  margin: 10px;
  font-size: 2%;
  border-radius: 1px;
  color: black;
  &:hover .card-description {
    opacity: 0.8;
  }

  .card-description {
    background-color: white;
    position: absolute;
    font-size: 2%;
    overflow: scroll;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: opacity 400ms ease;
  }
}
.card h2 {font-size: 15px;
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0px; }

  .card h4 {font-size: 10px;
    position: absolute;
    top: 30px;
    left: 20px;
    margin: 0px; }

    .card img{
     width: 100%;
     height: 62%;
   }

   .price {
    font-size: 10px;
    position: absolute;
    bottom: 0px;
    right: 30px;
    margin: 0px;
  }

  .dist {
    font-size: 10px;
    position: absolute;
    bottom: 0px;
    left: 30px;
    margin: 0px;
  }


  .info-card {
    position: absolute;
    padding: 4px;
    width: 100%;
  }
  .reviews {  display: inline;
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-size: 10px;
  }
  .description {
    font-size: 10px;
  }

.container-login {
  padding: 50px 30px;
  margin-bottom: 110px;

}

.form-login {
    padding: 30px 20px;
    background: #f9f9f9;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #ECECEC;
    margin: auto;
    width: 500px;
}

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

.card-container img {

  padding-top: 200px;
  width: 800px;

}



