


.tab {
    flex: 1 0 auto;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px;
    border-color: solid gray;
    background-color: white;
    color: #3366CC;

    }

    .tab:hover {
    background-color: #3366CC;
    color: white;
}

.category-bar {
  display: flex;
justify-content: space-around;
align-items: center;
}


.tab-box {
  height: 60vh;
  background-color: #F1F1F0;
}
.tab:first-child {
  border-radius: 10px 0px 0px 10px;
}
.tab:last-child {
  border-radius: 0px 10px 10px 0px;
}
.tab.active {
  background: white;
  color: black;
}

