


.tab {
    flex: 1 0 auto;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px;
    border-color: solid gray;
    background-color: white;
    color: #3366CC;
  &:hover .tab-description {
    color: white;
  }
    a {color: black;}

    }


    .tab:hover {
    background-color: #42a1f4;
    color: white;
}

    .tab:hover i {
      display:none;
    }

    .tab:hover span {
      display:inline !important;
    }

.category-bar {
 margin: 75px 25px 75px 25px;
  display: flex;
justify-content: space-around;
align-items: center;
box-shadow: 1px 3px 2px 1px lightgray;
border-radius: 10px;
transition:all 500ms ease;
}


.tab-box {
  height: 60vh;
  background-color: #F1F1F0;
}
.tab:first-child {
  border-radius: 10px 0px 0px 10px;
}
.tab:last-child {
  border-radius: 0px 10px 10px 0px;
}
.tab.active {

      background-color: #3366CC;
    color: white;
}

