.form-login {
    padding: 30px 20px;
    background: #f9f9f9;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #ECECEC;
    margin: auto;
    width: 500px;
}

.container-login {
  padding: 50px 30px;
  margin-bottom: 110px;

}

.tab {
    flex: 1 0 auto;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px;
    border-color: solid gray;
    background-color: white;
    color: #3366CC;

    }

    .tab:hover {
    background-color: #3366CC;
    color: white;
}

.category-bar {
  display: flex;
justify-content: space-around;
align-items: center;
}




.jumbotron {
  height: 70vh;
}


  .reviews {  display: inline;
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-size: 10px;
  }
  .description {
    font-size: 10px;
  }


.tab-box {
  height: 60vh;
  background-color: #F1F1F0;
}
.tab:first-child {
  border-radius: 10px 0px 0px 10px;
}
.tab:last-child {
  border-radius: 0px 10px 10px 0px;
}
.tab.active {
  background: white;
  color: black;
}


