.info-wrapper{
background-color: white;
color: orange;
margin-bottom: 200px;
display: flex;
justify-content: space-around;
}

.info{
  padding: 80px;
  margin: 30px;
}

.home-banner {
  position: relative;
}



