
.courses-container{
  display: flex;
justify-content: space-round;
align-items: flex-start;
}

// .show-courses{color:

// }



// course-title
// course-information
// establishment-link
// description



// flex-basis
