// appontment show
.product {
  display: flex;
  justify-content: space-around;
  border-radius: 3px;
  transition: all 0.15s ease;
  padding-left: 20px;
  padding: 10px;
}

.product ul li {
  padding: 10px,
}

.product-body {

}

.product-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
}
.product-body p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}

/* Product image */
.product-image {
  border-radius: 10px;
  margin-right: 20px;
}

.product:hover {
  background: #f7f7fa;
}


.buttons-f{
  display: flex;
  justify-content: center;
}

.destroy-course {
  margin-left: 10px;
}





.n-product {
  display: flex;
  justify-content: space-around;
  border-radius: 3px;
  transition: all 0.15s ease;
  padding-left: 10px;
  padding: 5px;
  align-items : center;
}

.n-product ul li {
  padding: 5px,
}


.n-product a{
  padding: 5px;
}


.n-product p{
  padding-bottom: 10px;
}
.n-product:hover {
  background: #f7f7fa;
}

