// appontment show
.product {
  display: flex;
  justify-content: space-around;
  border-radius: 3px;
  transition: all 0.15s ease;
  padding-left: 20px;
  padding: 10px;
}

.product ul li {
  padding: 10px,
}

.product-body {

}

.product-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
}
.product-body p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}

/* Product image */
.product-image {
  border-radius: 10px;
  margin-right: 20px;
}

.product:hover {
  background: #f7f7fa;
}
