<h1>Reviews</h1>

<div class="text-center">

<% @reviews.each do |review|%>

  <%=review.content%>
  <li class="review-star" data-score="<%=review.stars %>"></li>
  <%=review.appointment.user.email%>
  <%=review.appointment.course.title%>

<%end%>
</div>

  <% content_for(:after_js) do %>


<script>


$(document).ready(function () {
 $('.review-star').raty({
  path: '/assets/',
  // scoreName: 'review[stars]'
  readOnly: true,
  score: function() {
    return $(this).attr('data-score');
  },
 });
});

</script>

<% end %>
